<?xml version="1.0" encoding="utf-8"?>
<Defs>
    <XmlExtensions.SettingsMenuDef>
        <defName>CustomTweaks</defName> <!--Can
        be anything unique with no periods-->
        <modId>anonymous189.tweaks</modId> <!--MUST
        be the same as the one entered earlier-->
        <label>Custom Tweaks</label> <!-- This is what displays as your mod's name-->
        <settings>
            <li Class="XmlExtensions.Setting.Slider">
                <key>filth_mult</key>
                <label>Filth Multiplier: {filth_mult}</label>
                <defaultValue>0.2</defaultValue>
                <min>0</min>
                <max>1</max>
                <decimals>2</decimals>
            </li>
            <li Class="XmlExtensions.Setting.Gap"></li>
            <li Class="XmlExtensions.Setting.Checkbox">
                <label>Steel Structers</label>
                <key>steel_toggle</key>
                <defaultValue>true</defaultValue>
            </li>
            <li Class="XmlExtensions.Setting.Text">
                <text>Adjust Steel Structure's HP and set their flamablility to 0.</text>
            </li>
            <li Class="XmlExtensions.Setting.ToggleableSettings">
                <key>steel_toggle</key>
                <caseTrue>
                    <li Class="XmlExtensions.Setting.Slider">
                        <key>steel_hp_mult</key>
                        <label>Steel Structure HP Multiplier: {steel_hp_mult}</label>
                        <defaultValue>1.5</defaultValue>
                        <min>1</min>
                        <max>5</max>
                        <decimals>2</decimals>
                    </li>
                </caseTrue>
            </li>
        </settings>
    </XmlExtensions.SettingsMenuDef>
</Defs>